.ck.ck-editor__editable_inline {
  min-height: 400px;
  max-height: 800px;
  color: #7b809a;
  background: transparent;
  border: 1px solid #dadbda !important;
  border-radius: 5px;
  font-size: 14px;
  padding: 15px;
}

.ck.ck-toolbar {
  border: 1px solid #dadbda !important;
  border-radius: 5px !important;
  background: transparent;
}

.ck.ck-button {
  color: #7b809a;
}

.ck.ck-button:hover {
  background: #f0f2f5;
}

.ck.ck-toolbar__separator {
  background: #dadbda;
}